# Core AI and Machine Learning
stable-baselines3
torch
tensorboard

# Web UI and API
flask
flask_restful
flask_cors
werkzeug

# General Utilities
future
scapy
pyyaml
toml
requests
imutils
python-dateutil

# Hardware and Display Drivers
RPi.GPIO
spidev
Pillow
